<div class="row no-gutters">
    <a class="aswrfsdg" (click)="logout()">Sign Out</a>
    <div class="col-12 pr-0 pl-0">
        <div class="container-fluid header_bg">
            <header class="container">
                <div class="material-menu-button"><span></span><span></span><span></span></div>
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-6 pr-0">
                        <div class="logo">
                            <a href="/">
                                <img src="assets/images/logo.jpg" alt="" class="hidden-xs-down"/>
                                <img src="assets/images/logo-mobile.jpg" alt="" class="hidden-sm-up"/>
                                <span class="city-label">{{city}}</span>
                            </a>
                        </div>
                        <div class="inner-addon right-addon">
                            <input class="form-control header_search" type="text" placeholder="Search">
                            <span class="search-icon">
                                        <img src="assets/images/search.png" alt=""/>
                                    </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 col-xl-6 material-menu pl-0">
                        <nav class="top-nav-menu">
                            <ul>
                                <li class="top-menu hidden-lg-up">
                                    <p class="user-pic">
                                        <img src="assets/images/user.jpg" alt=""/>
                                    </p>
                                    <p class="user_name">Peter Drucker</p>
                                </li>
                                <li class="top-menu">
                                    <ul class="qp-menu">
                                        <li>
                                            <a href="javascript:void(0)">
                                                        <span>
                                                            <img src="assets/images/home.jpg" alt=""/>
                                                        </span>
                                                <span>
                                                            Home
                                                        </span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="javascript:void(0)">
                                                        <span>
                                                            <img src="assets/images/community.jpg" alt=""/>
                                                        </span>
                                                <span>
                                                            Community
                                                        </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                        <span>
                                                            <img src="assets/images/events.jpg" alt=""/>
                                                        </span>
                                                <span>
                                                            Events
                                                        </span>
                                            </a>
                                        </li>
                                        <li class="menu-service">
                                            <a href="javascript:void(0)">
                                                        <span>
                                                            <img src="assets/images/services.jpg" alt=""/>
                                                        </span>
                                                <span>
                                                            Services
                                                        </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="top-menu">
                                    <ul class="qp-nodify">
                                        <li>
                                            <a href="javascript:void(0)" class="nf-link">
                                                <span class="nf-count">99</span>
                                                <img src="assets/images/alert.jpg" alt=""/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="assets/images/fav.jpg" alt=""/>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="assets/images/setting.jpg" alt=""/>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="top-menu hidden-md-down fl-rht qp-rht-user">
                                    <div class="login-user-show">
                                        <span class="user_name">Peter Drucker</span>
                                        <span class="user-pic">
                                                    <a data-placement="bottom" data-toggle="popover"
                                                       data-container="body" type="button" data-html="true"
                                                       href="javascript:void(0);"
                                                       id="user-info-click">
                                                        <img src="assets/images/user.jpg" alt=""/>
                                                    </a>
                                                </span>
                                        <div id="popover-user-info" style="display: none;">
                                            <div class="user-info-popup">
                                                <div class="user-info-tbl">
                                                    <div class="user-info-pic">
                                                        <img src="assets/images/leftuser.jpg" alt=""/>
                                                    </div>
                                                    <div class="user-info-details">
                                                        <h6>Peter Drucker</h6>
                                                        <p><a href="tel:9988776655">9988776655</a></p>
                                                        <p><a href="mailto:PeterDrucker123@gmail.com">PeterDrucker123@gmail.com</a>
                                                        </p>
                                                        <p>Olimpiya park</p>
                                                    </div>
                                                </div>
                                                <div class="user-info-signout sdgdfhgh">
                                                    <a class="aswrfsdg" (click)="logout()">Sign Out</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="login-box" style="display: none;">
                                        <a href="javascript:void(0);">Login</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>