<div class="user-check">
    <div class="splash-header">
        <div class="row m-0">
            <div class="col-4 p-0">
                <img src="assets/images/logo.jpg"/>
            </div>
            <div class="col-8 p-0">
                <div class="login-box text-right">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#logInModal" class="spalsh-btn ln">Login</a>
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#signupModal" class="spalsh-btn sn">Sign
                        Up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="assets/images/splash/x-onboarding1.png"/>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/splash/x-onboarding2.png"/>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/splash/x-onboarding3.png"/>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<app-log-in></app-log-in>
<app-sign-up></app-sign-up>
