<app-header>
    <!-- Header views go here -->
</app-header>
<div class="master_body">
    <div class="container-fluid top-nodify">
        <div class="row">
            <div class="col-12">
                <div class="container top-nodify-show">
                    <p class="text-center"> Hello Peter Drucker Munich Welcome you to explore the sun city flim
                        festival,August 21st,2017</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container top-tips">
        <div class="row">
            <div class="col-12">
                <p class="text-center"><span class="tips-show"><img src="assets/images/light.jpg" alt=""/> Tip of the Day </span>
                    | Adding few drops
                    of oil to the rice before cooking it will prevent it from becoming stricy.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="left-user-show">
                    <div class="left-login-user" style="display: none;">
                        <div class="left-user-bg" style="background-image: url(assets/images/user_bg.jpg);"></div>
                        <div class="left-user-detail">
                            <div class="left-user-pic"><img src="assets/images/leftuser.jpg" alt=""/></div>
                            <p>Welcome, Sachin</p>
                            <a class="left-user-profile-edit" href="javascript:void(0);">Edit Profile</a>
                            <hr>
                            <h2 class="left-user-view-count">15</h2>
                            <p><span>2</span> new followers</p>
                            <p><span>10</span> replies to your thread</p>
                            <p><span>3</span> comments faved</p>
                        </div>
                    </div>
                    <div class="left-login-box">
                        <div class="left-login-bg"><img src="assets/images/loginbg.jpg" alt=""/></div>
                        <!--<div class="left-sign-up">-->
                        <!--<a class="left-sign-up-link" href="javascript:void(0);" data-toggle="modal" data-target="#signupModal">Sign Up Now!</a>-->
                        <!--<p class="text-center text-p"> or <a class="left-login-link" href="javascript:void(0);" data-toggle="modal" data-target="#logInModal">login</a>-->
                        <!--</p>-->
                        <!--</div>-->
                        <div class="left-sign-list">
                            <!--<p class="text-center">Sign Up & Enjoy</p>-->
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="list-icon"><img src="assets/images/l_msg.jpg" alt=""/></div>
                                        <div class="list-txt"><h6>Participate</h6>
                                            <p>Create your own post,Comments,Favorite, or Share Comment</p></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="list-icon"><img src="assets/images/l_user.jpg" alt=""/></div>
                                        <div class="list-txt"><h6>Personalize</h6>
                                            <p>Customize your Avatar,curate your home & newsfeed!</p></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="list-icon"><img src="assets/images/l_setting.png" alt=""/></div>
                                        <div class="list-txt"><h6>Productive</h6>
                                            <p>Connect & expend your circle, unlock the network effect!</p></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="left-user-more">
                        <h6>Quikpost partner Program</h6>
                        <p>Managed Store payment gateway analytics & much more!</p>
                        <a href="javascript:void(0);">Join Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="event-show">
                    <!--<div class="event-post-top">
                        <div class="inner-addon">
                            <span class="event-left-icon">
                                <img src="assets/images/postuser.jpg" alt="" />
                            </span>
                            <input class="form-control post-event" type="text" placeholder="Share an article,photo or update">
                            <span class="event-rht-icon">
                                <img src="assets/images/camera.jpg" alt="" />
                            </span>
                        </div>
                    </div> -->
                    <div class="event-post-top" style="display: none;">
                        <div class="inner-addon">
                                    <span class="event-left-icon">
                                        <img src="assets/images/postuser.jpg" alt=""/>
                                    </span>
                            <input class="form-control post-event" type="text"
                                   placeholder="Share an article,photo or update">
                            <span class="event-rht-icon">
                                        <img src="assets/images/camera.jpg" alt=""/>
                                    </span>
                        </div>
                    </div>
                    <div class="event-post-top-exp">
                        <div class="user-detail">
                            <span class="user-icon"><img src="assets/images/postuser.jpg" alt=""/></span>
                            <span class="user-detail-box">
                                        <p class="user-name">Peter Drucker</p>
                                        <p class="user-loc">TamilNadu,Chennai</p>
                                    </span>
                        </div>
                        <div class="event-post-txt" contentEditable=true
                             data-text="White here to crate a post or start a conversation">
                            White here to crate a post or start a conversation
                        </div>
                        <div class="user-link-icon">
                            <span><img src="assets/images/camera.jpg" alt=""/></span>
                            <span><img src="assets/images/camera.jpg" alt=""/></span>
                        </div>
                        <hr>
                        <div class="user-post-event">
                            <button class="btn-cancel-event text-uppercase">Cancel</button>
                            <button class="btn-post-event text-uppercase">Post</button>
                        </div>
                    </div>
                    <div class="event-sort">
                        <hr>
                        <div class="event-sort-list"></div>
                    </div>
                </div>
                <app-home-events></app-home-events>
            </div>
            <div class="col-12 col-lg-4">
                <div class="hot-topics-show">
                    <div class="hot-topic-top">
                        <div class="hot-topic-hd">
                            Hot Topics
                        </div>
                        <div class="hot-topic-list">
                            <ul>
                                <li><a href="javascript:void(0);" class="hot-active">All My think Tour 2017 Apple in
                                    space,Berlin,Germany,sunday 25 June 2017, 1:00 PM</a></li>
                                <li><a href="javascript:void(0);">All My think Tour 2017 Apple in
                                    space,Berlin,Germany,sunday 25 June 2017, 1:00 PM</a></li>
                                <li><a href="javascript:void(0);">All My think Tour 2017 Apple in
                                    space,Berlin,Germany,sunday 25 June 2017, 1:00 PM</a></li>
                                <li><a href="javascript:void(0);">All My think Tour 2017 Apple in
                                    space,Berlin,Germany,sunday 25 June 2017, 1:00 PM</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="qp-gadds-box">
                        <img src="assets/images/ads.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer>
    <!-- Footer views go here -->
</app-footer>